/**
* Box properties
*/
// Position
.posr, %posr {
	position: relative;
}
.posa, %posa {
	position: absolute;
}
.poss, %poss  {
	position: static;
}
.posf, %posf {
	position: fixed;
}
// Display
.dn, %dn {
	display: none;
}
.db, %db {
	display: block;
}
.dib, %dib {
	display: inline-block;
}
.dt, %dt {
	display: table;
}
.dtr, %dtr {
	display: table-row;
}
.dtc, %dtc {
	display: table-cell;
}
// Float
.fl, %fl {
	float: left;
}
.fr, %fr {
	float: right;
}
.fn, %fn {
	float: none;
}
// Margins
.m0-a {
	margin: 0 auto;
}
.m0 {
	margin: 0;
}
// Paddings
.p0	{
	padding: 0;
}

// Box
.wa {
	width: auto;
}
.w100p {
	width: 100%;
}

.ha {
	height: auto;
}
.h100p {
	height: 100%;
}